target/
.classpath
.project
.settings
*~
node_modules
bower_components
node
yarn.lock
.idea/
**.iml
.DS_Store
local.properties
.vscode

# The following files are generated/updated by flow-maven-plugin
node_modules/
package.json
package-lock.json
pnpm-lock.yaml
tsconfig.json
webpack.config.js
webpack.generated.js
